.admin-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.produto-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.produto-form h3 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-warning {
  background-color: #ffc107;
  color: white;
}

.btn-warning:hover {
  background-color: #e0a800;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-danger:hover {
  background-color: #c82333;
}

.produto-list {
  margin-top: 40px;
}

.produto-card {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.produto-info {
  max-width: 60%;
}

.produto-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.produto-info h4 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.produto-info p {
  margin: 5px 0;
  font-size: 14px;
}

.produto-info p strong {
  color: #555;
}

@media (max-width: 768px) {
  .produto-card {
    flex-direction: column;
  }

  .produto-info {
    margin-bottom: 15px;
  }
}

.upload-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre os campos */
}

.form-control-file {
  max-width: 200px; /* Ajuste o tamanho do botão de upload, se necessário */
}

